<p id="notice"><%= notice %></p>

<p>
  <strong>Worker:</strong>
  <%= @note.worker_id %>
</p>

<p>
  <strong>Meeting hour:</strong>
  <%= @note.meeting_hour %>
</p>

<p>
  <strong>Note text:</strong>
  <%= @note.note_text %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
