<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>
<%= link_to "Workers", workers_path %>
<%= link_to "Notatki", notes_path %>
<% if user_signed_in? %>
<%= link_to "Wyloguj się", destroy_user_session_path, method: :delete  %>
<% else %>
<%= link_to "Zaloguj się", new_user_session_path %>
<%= link_to "Zarejestruj się", new_user_registration_path %>
<% end %>

<h1>Listing workers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.surname %></td>
        <td><%= worker.email %></td>
        <td><%= worker.address %></td>
        <td><%= link_to 'Show', worker %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_worker_path(worker) %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker', new_worker_path %>
